<header> 
    <img 
    src = "assets/img/robson.jpg"
    alt="RObson Silva - Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
    />
    <h1>Robson Silva</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack C# | Go | .Net | Angular | Javascript</p>
        <p>Brazópolis, Minas Gerais, Brazil</p>
        <p>
            Trabalho com desenvolvimento de softwares desde 2013, atuou com professor
            nas áreas de programação e projetos. Ja trabalhei com projetos nas areas 
            de Mobile, Descktop e WEB
        </p>

        <nav>
            <ul>
                <li>
                    <a hrf="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary"> 
                        Donwload CV
                    </a>
                </li>
                <li>
                    <a hrf="https://www.linkedin.com/in/robson-silva-297a5145/" 
                    target="_blank" 
                    class="btn btn-secondary"> 
                        LinkId
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img
                src = "assets/icons/mail.svg"
                alt="Ícone para contato do e-mail"
                width="22px"
                height="24px" 
                />
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5535991083257&text=ol%C3%a1%20Robson,%20preciso%20de%20um%20job!"
                    target="_blank">
                    <strong>Envie uma menssagem para: </strong>
                    <p> WhatsApp: +55 35 991083257</p>
                </a>
                </figcaption>
            </figure>
       
            <figure>
                <img
                src = "assets/icons/whatsapp.svg"
                alt="Ícone para contato do whatsapp"
                width="22px"
                height="24px" 
                />
                <figcaption>
                    <a href="mailto:robsonsilva.si@gmail.com"
                    target="_blank">
                    <strong>Envie um e-mail para: </strong>
                    <p> E-email: robsonsilva.si&#64;gmail.com</p>
                </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>
