:root{
    --primary: #ee6e19f1;
    --primary-010: #813f13f1;

    --secondary:#06628a;
    --secondary-010: #06374e;

    --white: #fff;

    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #9b9ba0;

}